<div class="container">
  <button
    class="btn btn-light my-5"
    [routerLink]="['/dashboard/add-faq-sidetab']"
  >
    Add FAQ Side Tab
  </button>
  @for (faqSideTab of sortFaqSidetabsOrder(faqs); let i = $index; track $index)
  {
  <div class="faq-item my-4 p-3 border rounded">
    <h3 class="text-primary">{{ i + 1 }} - {{ faqSideTab.title }}</h3>
    <p class="text-muted">{{ faqSideTab.content }}</p>
    <div class="faq-actions my-2">
      <button
        class="btn btn-light"
        [routerLink]="['/dashboard/edit-faq-sidetab', faqSideTab.id]"
      >
        Edit Side Tab
      </button>
      <button
        class="btn btn-danger mx-2"
        (click)="deleteFaqSidetab(faqSideTab.id || '')"
      >
        Delete Side Tab
      </button>
    </div>
    @for (faq of sortFaqs(faqSideTab.faQs);let j = $index; track $index) {
    <div class="faq-question my-3">
      <h4 class="font-weight-bold">{{ faq.order }} - {{ faq.question }}</h4>
      <p>{{ faq.answer }}</p>
      <div class="faq-actions my-2">
        <button
          class="btn btn-light"
          [routerLink]="['/dashboard/edit-faq', faq.id, faqSideTab.id]"
        >
          Edit FAQ
        </button>
        <button class="btn btn-danger mx-2" (click)="deleteFaq(faq.id || '')">
          Delete FAQ
        </button>
      </div>
    </div>
    }
    <div class="faq-actions my-2">
      <button
        class="btn btn-light"
        [routerLink]="['/dashboard/add-faq', faqSideTab.id]"
      >
        Add FAQs
      </button>
    </div>
  </div>
  }
</div>
