<div class="d-flex justify-content-center align-items-center">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    style="width: 60%"
    class="my-5 p-4"
    [ngClass]="darkMode ? 'text-light bg-dark' : 'text-dark bg-light'"
  >
    <div class="mb-3">
      <label for="UserName" class="form-label">{{
        "LOGIN.USERNAME-FIELD" | translate
      }}</label>
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        id="UserName"
        formControlName="UserName"
        class="form-control"
        placeholder="{{ 'LOGIN.USERNAME-FIELD' | translate }}"
      />
      <div
        *ngIf="UserName?.invalid && (UserName?.dirty || UserName?.touched)"
        class="text-danger mt-1"
      >
        <div *ngIf="UserName?.errors?.['required']">User Name is required.</div>
        <div *ngIf="UserName?.errors?.['minlength']">
          User Name must be at least 3 characters long.
        </div>
        <div *ngIf="UserName?.errors?.['maxlength']">
          User Name cannot be more than 50 characters long.
        </div>
      </div>
    </div>

    <div class="mb-3"></div>
    <label for="FirstName" class="form-label">{{
      "LOGIN.FIRST-NAME-FIELD" | translate
    }}</label>
    <input
      [ngClass]="
        darkMode
          ? 'bg-dark border-white text-white placeholder-white'
          : 'border-dark placeholder-dark'
      "
      type="text"
      id="FirstName"
      formControlName="FirstName"
      class="form-control"
      placeholder="{{ 'LOGIN.FIRST-NAME-FIELD' | translate }}"
    />
    <div
      *ngIf="FirstName?.invalid && (FirstName?.dirty || FirstName?.touched)"
      class="text-danger mt-1"
    >
      <div *ngIf="FirstName?.errors?.['required']">First Name is required.</div>
      <div *ngIf="FirstName?.errors?.['minlength']">
        First Name must be at least 3 characters long.
      </div>
      <div *ngIf="FirstName?.errors?.['maxlength']">
        First Name cannot be more than 50 characters long.
      </div>
    </div>

    <div class="mb-3">
      <label for="LastName" class="form-label">{{
        "LOGIN.LAST-NAME-FIELD" | translate
      }}</label>
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        id="LastName"
        formControlName="LastName"
        class="form-control"
        placeholder="{{ 'LOGIN.LAST-NAME-FIELD' | translate }}"
      />
      <div
        *ngIf="LastName?.invalid && (LastName?.dirty || LastName?.touched)"
        class="text-danger mt-1"
      >
        <div *ngIf="LastName?.errors?.['required']">Last Name is required.</div>
        <div *ngIf="LastName?.errors?.['minlength']">
          Last Name must be at least 3 characters long.
        </div>
        <div *ngIf="LastName?.errors?.['maxlength']">
          Last Name cannot be more than 50 characters long.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="PhoneNumber" class="form-label">{{
        "LOGIN.PHONE-FIELD" | translate
      }}</label>
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        id="PhoneNumber"
        formControlName="PhoneNumber"
        class="form-control"
        placeholder="{{ 'LOGIN.PHONE-FIELD' | translate }}"
      />
      <div
        *ngIf="
          PhoneNumber?.invalid && (PhoneNumber?.dirty || PhoneNumber?.touched)
        "
        class="text-danger mt-1"
      >
        <div *ngIf="PhoneNumber?.errors?.['required']">
          Phone Number is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="Address" class="form-label">{{
        "LOGIN.ADDRESS-FIELD" | translate
      }}</label>
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        id="Address"
        formControlName="Address"
        class="form-control"
        placeholder="{{ 'LOGIN.ADDRESS-FIELD' | translate }}"
      />
      <div
        *ngIf="Address?.invalid && (Address?.dirty || Address?.touched)"
        class="text-danger mt-1"
      >
        <div *ngIf="Address?.errors?.['required']">Address is required.</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="BirthDate" class="form-label">{{
        "LOGIN.BIRTHDATE-FIELD" | translate
      }}</label>
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="date"
        id="BirthDate"
        formControlName="BirthDate"
        class="form-control"
      />
      <div
        *ngIf="BirthDate?.invalid && (BirthDate?.dirty || BirthDate?.touched)"
        class="text-danger mt-1"
      >
        <div *ngIf="BirthDate?.errors?.['required']">
          Birth Date is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="Email" class="form-label">{{
        "LOGIN.USER-FIELD" | translate
      }}</label>
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="email"
        id="Email"
        formControlName="Email"
        class="form-control"
        placeholder="{{ 'LOGIN.USER-FIELD' | translate }}"
      />
      <div
        *ngIf="Email?.invalid && (Email?.dirty || Email?.touched)"
        class="text-danger mt-1"
      >
        <div *ngIf="Email?.errors?.['required']">
          {{ "LOGIN.EMAIL-REQUIRED" | translate }}
        </div>
        <div *ngIf="Email?.errors?.['email']">
          {{ "LOGIN.EMAIL-PATTERN" | translate }}
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="Password" class="form-label"
        >{{ "LOGIN.PASSWORD-FIELD" | translate }}
      </label>
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="password"
        id="Password"
        formControlName="Password"
        class="form-control"
        placeholder="{{ 'LOGIN.PASSWORD-FIELD' | translate }}"
      />
      <div
        *ngIf="Password?.invalid && (Password?.dirty || Password?.touched)"
        class="text-danger mt-1"
      >
        <div *ngIf="Password?.errors?.['required']">
          {{ "LOGIN.PASSWORD-REQUIRED" | translate }}
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="d-block bg-transparent btn"
      [ngClass]="darkMode ? 'border-white text-white' : 'border-dark'"
      [disabled]="registerForm.invalid"
    >
      {{ "LOGIN.CREATE-ACCOUNT-BUTTON" | translate }}
    </button>
  </form>
</div>
