.footer-dark {
  background-color: var(--back-color) !important;
  color: var(--fore-color) !important;
}

.contrast-line {
  width: 100%;
  height: 2px;
}

.footer-section-c img {
  width: 20px;
  height: 20px;
}
