<div
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin5"
  data-sidebartype="full"
  data-sidebar-position="absolute"
  data-header-position="absolute"
  data-boxed-layout="full"
  [ngClass]="darkMode ? 'bg-dark text-white' : 'bg-light text-dark'"
>
  <app-header-dashboard></app-header-dashboard>

  <app-aside-dashboard></app-aside-dashboard>

  <div
    class="page-wrapper"
    style="margin-left: 250px; min-height: 100vh; padding-top: 100px"
  >
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
