<!-- <div class="container-fluid p-0 min-vh-100">
  <div class="row g-0 h-100">
    <aside class="col-md-3 col-lg-2 h-100 sidebar">
      <h2>Dashboard</h2>
      <ul>
        <li><a routerLink="/dashboard/manage-user">Users</a></li>
        <li><a routerLink="/dashboard/feedback">User Feedbcks</a></li>
      </ul>
    </aside>
    <main class="col-md-9 col-lg-10 h-100 px-5 min-vh-100">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div> -->

<!-- Preloader - style you can find in spinners.css -->

<!-- <div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div> -->

<!-- Main wrapper - style you can find in pages.scss -->

<div
  id="main-wrapper"
  data-layout="vertical"
  data-navbarbg="skin5"
  data-sidebartype="full"
  data-sidebar-position="absolute"
  data-header-position="absolute"
  data-boxed-layout="full"
  [ngClass]="darkMode ? 'bg-dark text-white' : 'bg-light text-dark'"
>
  <!-- Topbar header - style you can find in pages.scss -->

  <header
    [ngClass]="darkMode ? 'bg-dark text-white' : 'bg-light text-dark'"
    class="navbar navbar-expand-md navbar-dark"
  >
    <div class="container">
      <a
        class="navbar-brand d-flex justify-content-center align-items-center"
        routerLink="/dashboard"
      >
        <img
          src="EbrajGR Logo.png"
          alt="EbrajGR Logo"
          width="40"
          height="70"
          class="d-inline-block align-text-top"
        />
        <span class="ms-2">
          {{ "APP.EBRAJ" | translate }}
          <small>{{ "APP.GR" | translate }}</small>
        </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link sidebartoggler"
              href="javascript:void(0)"
              data-sidebartype="mini-sidebar"
              ><i class="mdi mdi-menu font-24"></i
            ></a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="d-none d-md-block"
                >Create New <i class="fa fa-angle-down"></i
              ></span>
              <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)"
              ><i class="mdi mdi-magnify fs-4"></i
            ></a>
            <form class="d-flex position-relative">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search &amp; enter"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                <i class="mdi mdi-window-close"></i>
              </button>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-bell font-24"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown2"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="mdi mdi-comment-processing font-24"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown2"
            >
              <li>
                <a class="dropdown-item" href="javascript:void(0)">
                  <div class="d-flex align-items-center">
                    <span class="btn btn-success btn-circle">
                      <i class="mdi mdi-calendar text-white fs-4"></i>
                    </span>
                    <div class="ms-2">
                      <h5 class="mb-0">Event today</h5>
                      <span class="mail-desc">Just a reminder that event</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">
                  <div class="d-flex align-items-center">
                    <span class="btn btn-info btn-circle">
                      <i class="mdi mdi-settings fs-4"></i>
                    </span>
                    <div class="ms-2">
                      <h5 class="mb-0">Settings</h5>
                      <span class="mail-desc"
                        >You can customize this template</span
                      >
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">
                  <div class="d-flex align-items-center">
                    <span class="btn btn-primary btn-circle">
                      <i class="mdi mdi-account fs-4"></i>
                    </span>
                    <div class="ms-2">
                      <h5 class="mb-0">Pavan kumar</h5>
                      <span class="mail-desc">Just see the my admin!</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">
                  <div class="d-flex align-items-center">
                    <span class="btn btn-danger btn-circle">
                      <i class="mdi mdi-link fs-4"></i>
                    </span>
                    <div class="ms-2">
                      <h5 class="mb-0">Luanch Admin</h5>
                      <span class="mail-desc">Just see the my new admin!</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
              href="#"
              id="navbarDropdown3"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="../assets/images/users/1.jpg"
                alt="user"
                class="rounded-circle"
                width="31"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown3"
            >
              <li>
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="mdi mdi-account me-1 ms-1"></i> My Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="mdi mdi-wallet me-1 ms-1"></i> My Balance</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="mdi mdi-email me-1 ms-1"></i> Inbox</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="mdi mdi-settings me-1 ms-1"></i> Account Setting</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)"
                  ><i class="fa fa-power-off me-1 ms-1"></i> Logout</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li class="ps-4 p-10">
                <a
                  href="javascript:void(0)"
                  class="btn btn-sm btn-success btn-rounded text-white"
                  >View Profile</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- End Topbar header -->

  <!-- Left Sidebar - style you can find in sidebar.scss  -->

  <aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav" class="pt-4">
          <li class="sidebar-item">
            <a
              class="sidebar-link waves-effect waves-dark sidebar-link"
              routerLink="/dashboard"
              aria-expanded="false"
              ><i class="mdi mdi-view-dashboard"></i
              ><span class="hide-menu">Dashboard</span></a
            >
          </li>
          <li class="sidebar-item">
            <a
              class="sidebar-link waves-effect waves-dark sidebar-link"
              routerLink="/dashboard/manage-user"
              aria-expanded="false"
              ><i class="mdi mdi-view-dashboard"></i
              ><span class="hide-menu">Manage User</span></a
            >
          </li>
          <li class="sidebar-item">
            <a
              class="sidebar-link waves-effect waves-dark sidebar-link"
              routerLink="/dashboard/feedback"
              aria-expanded="false"
              ><i class="mdi mdi-view-dashboard"></i
              ><span class="hide-menu">Feedback</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>

  <!-- End Left Sidebar - style you can find in sidebar.scss  -->

  <!-- Page wrapper  -->

  <div class="page-wrapper">
    <!-- Bread crumb and right sidebar toggle -->

    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Dashboard</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!-- End Bread crumb and right sidebar toggle -->

    <!-- Container fluid  -->

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

    <!-- End Container fluid  -->

    <!-- footer -->

    <footer class="footer text-center">
      <div class="container-fluid d-flex justify-content-between">
        <div
          style="font-family: EB Garamond, serif"
          class="footer-logo highlight-color"
        >
          <span class="fs-costum-footer-Reset mx-1">{{
            "APP.GREAT-RESET" | translate
          }}</span>
          <span class="white-rock fs-costum-footer-Rock">{{
            "APP.WHITEROCK" | translate
          }}</span>
        </div>
        <div class="mt-2">
          {{ "APP.EBRAJ-ALL-RIGHTS-RESERVED" | translate }}
        </div>
      </div>
    </footer>

    <!-- End footer -->
  </div>

  <!-- End Page wrapper  -->
</div>
