<div class="top-content">
  <h3>White Paper</h3>
  <p>
    Ebraj Corporation is an assets’ fund called (eBox). The primary goal of this
    fund is to serve as a source of financing for the Sustainable Social
    Solidarity System program, referred to hereafter as (4S).
  </p>
  <p>
    The main purpose of the (4S) program is to provide partial support for
    individuals’ basic life needs, free of charge.
  </p>
</div>
<div class="container">
  <!-- Left Sidebar -->
  <div class="sidebar">
    <ul>
      <li [class.active]="selectedTab === 'rules'" (click)="selectTab('rules')">
        {{ "PUBLIC-LAW.RULES" | translate }}
      </li>
      <li
        [class.active]="selectedTab === 'policy'"
        (click)="selectTab('policy')"
      >
        {{ "PUBLIC-LAW.POLICY" | translate }}
      </li>
      <li
        [class.active]="selectedTab === 'conditions'"
        (click)="selectTab('conditions')"
      >
        {{ "PUBLIC-LAW.CONDITIONS" | translate }}
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="content">
    <div>
      <h3>Reasons for Establishing the Program</h3>
      <p>
        We foresee future risks threatening the stability of the labor market,
        where a large number of individuals are expected to lose their jobs.
        With the absence of clear strategies to address these challenges and the
        continuous growth in the number of affected individuals, failing to
        develop a solution based on a sustainable and stable source could lead
        to threats to social and global security and peace. Therefore, it became
        imperative to design a program that seeks to offer practical solutions,
        enhancing the stability of individuals and communities in the long term.
      </p>
    </div>
    <div>
      <h3>How the Program Operates</h3>
      <p>
        The (4S) program operates through the provision of a digital wallet
        containing a balance of assets from the (eBox) fund. This wallet is
        granted to individuals free of charge after creating a verified account
        with Ebraj Corporation.
      </p>
      <p>The spending conditions include the following:</p>
      <ol>
        <li>A portion allocated for housing.</li>
        <li>A portion allocated for food.</li>
        <li>A portion allocated for healthcare.</li>
        <li>A portion allocated for transportation.</li>
        <li>An optional portion.</li>
        <li>
          A portion allocated for investment (used as one of the mechanisms to
          recharge the wallet); and
        </li>
        <li>A portion allocated for savings.</li>
      </ol>
      <p>
        The goal of this spending framework is to achieve a key objective:
        defining a standard known as the “Absolute Minimum for Living”, which
        establishes the minimum level of decent living for humans on Earth.
      </p>
      <p>
        This mechanism also aims to enhance societal protection, ensuring that
        the quality of life does not fall below this minimum under any
        circumstances.
      </p>
      <p>
        We believe that these spending conditions on essential needs grant
        individuals peace of mind and the ability to rise again with confidence
        to face life’s challenges3
      </p>
    </div>
    <div>
      <h3>Growth of the Fund</h3>
      <p>
        The principle of the fund’s wealth growth is straightforward: investing
        in income-generating developmental projects in exchange for obtaining a
        percentage of these projects.
      </p>
      <p>
        The fund’s share percentage varies from one project to another based on
        several factors, including:
      </p>
    </div>
    <div>
      <h3>1. Investment Methods</h3>
      <ul>
        <li><b>direct Method</b></li>

        <p>
          Investing directly in projects using the fund’s assets and resources,
          such as financial funding, service support, real estate owned by the
          fund, and more.
        </p>
        <li><b>Indirect Method</b></li>
        <p>
          Investment is made by providing a percentage of the fund’s assets as a
          guarantee to financing entities. These entities then provide direct
          funding to the project based on this guarantee. During its initial
          phase, the fund will rely exclusively on indirect investment to build
          sufficient assets, enabling future direct investments.
        </p>
      </ul>
    </div>
    <div>
      <h3>2. Decision-Maker for Investments</h3>
      <p>
        Investment decisions are made by the wallet holders themselves or
        through investment groups managing multiple wallets collectively.
      </p>
      <p>
        <b>It is essential to recognize</b> that the fund’s growth will be a
        gradual process that occurs over several time phases, accompanied by
        varying challenges and difficulties depending on influencing factors.
        The (4S) program and the fund’s services will be launched gradually,
        either partially or fully, according to the available resources at each
        stage.
      </p>
      <p>
        <b>Additional Information About the eBox Fund</b>
      </p>
      <ol>
        <li><b>Services</b> Section</li>
        <li><b>Tools and Equipment </b> Section</li>
        <li><b>Places</b></li>
        <li><b>Value </b> Section</li>
      </ol>
      <p>
        Each section contains assets acquired through the fund’s previous
        investments. These assets hold a measurable value that can be assessed
        using various units, such as the US dollar, the Euro, and others. To
        facilitate operations, expedite processes, and ensure security when
        transferring values from one wallet to another, Ebraj Corporation
        developed a unified token known as eCurrent.
      </p>
      <h5>eCurrent</h5>
      <p>
        eCurrent is an indicator for measuring the performance of the fund. Its
        operation relies on blockchain technology. It reflects the value of the
        fund’s assets and the strength of its performance and is considered the
        best and fastest means for transferring values between wallets.
      </p>
      <ul>
        <li>
          1 eCurrent equals 10 US cents, with the possibility of adjusting this
          value over time under specific conditions.
        </li>
      </ul>
      <h5>Ebraj Corporation adopted this system for several advantages</h5>
      <ul>
        <li>
          Speeding up processes: Reducing the time needed to transfer values
          compared to traditional systems.
        </li>
        <li>
          Cost reduction: Avoiding financial burdens associated with traditional
          transactions.
        </li>
        <li>
          Increasing efficiency: Supporting the fund’s flexibility, growth, and
          activity.
        </li>
        <p>
          This system enables Ebraj Corporation to improve the efficiency of
          asset management and ensure the fund’s sustainability and growth,
          particularly in areas that are difficult to reach with traditional
          systems.
        </p>
        <p>
          <b> The Core Strength of Ebraj Corporation and its eBox Fund </b>
        </p>
        <p>
          The primary strength of Ebraj Corporation and its eBox fund lies in
          its audience—referred to as Ebrajers—who represent the real wealth
          behind the company’s success.
        </p>
        <p>
          For this reason, the (4S) program is called the Sustainable Social
          Solidarity System, as it reflects the pivotal role played by the
          audience in supporting Ebraj’s system through their commitments in
          exchange for the sustainable rights guaranteed to them by the company.
        </p>
        <p>
          Based on this principle, Ebraj Corporation grants its audience
          permanent ownership rights, affirming the integrative relationship
          between the company and its audience, built on mutual trust and shared
          responsibility.
        </p>
        <p>
          To achieve this within a measurable legal framework, NFTs were chosen
          as the first asset and the medium through which the fund will launch
          its initial indirect investments to finance an income-generating
          developmental project.
        </p>
        <p>
          Through this approach, Ebraj fulfills its primary goal of maintaining
          the independence of its operating system, free from the influence of
          large investors who might seek to alter this system in exchange for
          their funding.
        </p>
      </ul>
      <h3>Why NFTs Were Chosen as the Fund’s First Asset</h3>
      <p>
        <b>
          The decision to adopt NFTs as the fund’s first asset stems from their
          unique advantages
        </b>
      </p>
      <ol>
        <li>Value</li>
        <p>
          NFTs can have a value denominated in USD or other currencies, with the
          ability to build and increase this value over time.
        </p>

        <li>Measurable Value</li>

        <p>This value can be easily and accurately measured.</p>
        <li>Value Tied to the Audience</li>

        <p>
          The value of NFTs is linked to the audience, which is the most
          critical factor. It reflects the number of individuals who support
          Ebraj’s existence. For this reason, Ebraj Corporation grants permanent
          ownership to everyone who creates an account with the company.
        </p>
        <li>Legality</li>

        <p>
          NFTs can be used as collateral for loans, just like real estate or
          vehicles are used as loan guarantees.
        </p>
        <li>Stable Value</li>

        <p>
          The value of NFTs remains stable due to their connection with the
          audience, who agree to increase the value if Ebraj’s performance
          achieves its goals, and vice versa.
        </p>
        <li>Low Cost</li>

        <p>
          The cost of producing these NFTs is relatively low for Ebraj
          Corporation, making them an economically efficient choice for
          launching its initial indirect investments, as they are merely
          symbolic values (software).
        </p>
      </ol>
      <h3>Why NFTs Were Chosen as the Fund’s First Asset</h3>
      <h5>These NFTs consist of</h5>
      <ol>
        <li>The trade name “Ebraj”</li>
        <li>The company’s brand</li>
        <li>The Public law</li>
        <li>The company’s operating system (white paper)</li>
      </ol>
      <h5>Ebraj Corporation Public Law</h5>
      <p>
        The Public Law serves as the company’s constitution and is one of the
        primary reasons individuals choose to join the “Ebraj” family. For this
        reason, all laws have been saved using blockchain technology, ensuring
        that each individual has an immutable and tamper-proof copy.
      </p>
      <h3>The Public Law is Divided Into Three Main Sections</h3>
      <h5>1. Rules</h5>
      <p>Rules are fixed and unchangeable laws over time.</p>
      <p>Examples of fixed rules:</p>
      <ul>
        <li>Ebraj Corporation is a decentralized company.</li>
        <li>
          No individual can directly own assets in Ebraj, regardless of the
          percentage of assets they hold.
        </li>
        <li>
          No “Ebrajer” (subscriber) can be excluded from the company unless they
          voluntarily choose to relinquish their ownership (their share of the
          fund).
        </li>
      </ul>
      <h5>2. Policies</h5>
      <p>
        Policies are flexible laws that can be amended once every four years or
        less, provided a vote is held, and the majority approves the changes.
      </p>
      <p>Examples of policies:</p>
      <ul>
        <li>
          New investment funding must not exceed 30% of the total value of the
          fund.
        </li>
        <li>
          The influence of an account holder remains effective for four full
          years after their account is deleted. The contract is renewed if they
          choose to revoke their withdrawal decision.
        </li>
      </ul>
      <h5>3. Conditions</h5>
      <p>
        Conditions are a set of laws that change based on specific factors and
        circumstances.
      </p>
      <p>
        This section of laws will be developed gradually over time and will
        remain in a state of continuous development. The creation of this part
        of the laws is entrusted to the community and the audience. However,
        Ebraj Corporation is responsible for publishing these laws on its
        official website to ensure users can reference and benefit from them
        when needed.
      </p>
      <p>Examples of conditions:</p>
      <ul>
        <li>
          Determining the type of project that is legally permitted or refused
          for funding depends on local laws, societal culture, and other
          factors.
        </li>
        <li>
          The decision to choose the appropriate method for evaluating a project
          is left to the members of the investment process.
        </li>
      </ul>
      <p>
        The decision to choose the appropriate method for evaluating a project
        is left to the members of the investment process.
      </p>
      <p>
        <b>The success</b> and sustainability of Ebraj Corporation’s system
        depend primarily on the continuity of funded projects and their ability
        to operate and generate value, as these projects represent the backbone
        of the system.
      </p>
      <p>
        Thus, the company’s success is closely tied to the success of projects
        seeking direct and indirect investment. To ensure the highest chances of
        success for these projects, it requires providing an integrated and
        well-designed work environment for managing operations efficiently and
        professionally.
      </p>
      <p>E.Platform Development</p>
      <p>
        To achieve this, Ebraj Corporation invests in E-Company to develop the
        E.Platform (business environment). This platform is specifically
        designed to manage and operate the company’s projects efficiently,
        ensuring accuracy, speed, ease, and security from the very beginning.
      </p>
      <p>
        As a result, the E.Platform becomes the first developmental project
        funded (indirectly) by the eBox Fund and the second asset owned by the
        fund. The fund owns 20% of the platform’s profits, which directly
        contribute to supporting Ebraj Corporation’s sustainable social
        solidarity program.
      </p>
      <p>Was this article helpful and sufficient?</p>
      <p>Yes / No</p>
      <p>Do you have any questions?</p>
    </div>
  </div>
</div>
<div class="button-container">
  <button [ngClass]="darkMode ? 'bg-light text-dark' : 'bg-dark text-light'">
    <span *ngIf="!loadingMore" class="load-more">{{
      "PUBLIC-LAW.LOAD-MORE" | translate
    }}</span>
    <div *ngIf="loadingMore" class="spinner"></div>
  </button>
</div>
