<div class="top-content">
  <h3>{{ page.name }}</h3>
  <p>{{ page.description }}</p>
</div>
<div class="container">
  <!-- Left Sidebar -->
  <div class="sidebar">
    <ul>
      @for (sideTab of sortPageBySidetabsOrder(page.sideTabs) ; track $index) {
      <li
        [class.active]="selectedTab === sideTab.title"
        [class.active-dark]="selectedTab === sideTab.title && !darkMode"
        (click)="selectTab(sideTab.title)"
      >
        {{ sideTab.title }}
      </li>
      }
    </ul>
  </div>

  <!-- Main Content -->
  <div class="content">
    @for (sideTab of sortPageBySidetabsOrder(page.sideTabs); track $index) {
    <div *ngIf="selectedTab === sideTab.title">
      <h3>{{ sideTab.title }}</h3>
      <p
        *ngIf="!showAllContentMap[selectedTab] && sideTab.content.length > 1000"
      >
        {{ sideTab.content | slice : 0 : 1000 }}
        <a (click)="openModal()" class="btn btn-link">Read More</a>
        ...
      </p>
      <p
        *ngIf="showAllContentMap[selectedTab] || sideTab.content.length <= 1000"
      >
        {{ sideTab.content }}
      </p>
    </div>
    }
  </div>
</div>
<div class="button-container">
  <button
    [ngClass]="darkMode ? 'bg-light' : 'bg-dark text-light'"
    (click)="toggleShowAllContent()"
  >
    <span *ngIf="!(loading$ | async)" class="load-more">{{
      "PUBLIC-LAW.LOAD-MORE" | translate
    }}</span>
    <div *ngIf="loading$ | async" class="spinner"></div>
  </button>
</div>
<div
  class="start-app-popup"
  [ngClass]="darkMode ? 'bg-dark' : 'bg-light'"
  *ngIf="isModalOpen"
>
  <div class="start-app-popup-header">
    <h2>Full Description</h2>
    <button
      [ngClass]="darkMode ? 'text-light' : 'text-dark'"
      class="close-button"
      (click)="closeModal()"
    >
      &#x2715;
    </button>
  </div>
  <div class="start-app-popup-body">
    @for (sideTab of sortPageBySidetabsOrder(page.sideTabs); track $index) {
    <div *ngIf="selectedTab === sideTab.title">
      <h3>{{ sideTab.title }}</h3>
      <p>
        {{ sideTab.content }}
      </p>
    </div>
    }
  </div>
  <div class="start-app-popup-footer"></div>
</div>
