<div class="top-content">
  <h3>{{ page.name }}</h3>
  <p>{{ page.description }}</p>
</div>
<div class="container">
  <!-- Left Sidebar -->
  <div class="sidebar">
    <ul>
      @for (sideTab of sortPageBySidetabsOrder(page.sideTabs) ; track $index) {
      <li
        [class.active]="selectedTab === sideTab.title"
        [class.active-dark]="selectedTab === sideTab.title && !darkMode"
        (click)="selectTab(sideTab.title)"
      >
        {{ sideTab.title }}
      </li>
      }
    </ul>
  </div>

  <!-- Main Content -->
  <div class="content">
    @for (sideTab of sortPageBySidetabsOrder(page.sideTabs); track $index) {
    <div *ngIf="selectedTab === sideTab.title">
      <h3>{{ sideTab.title }}</h3>
      <p>
        {{ sideTab.content }}
      </p>
    </div>
    }
  </div>
</div>
<div class="button-container">
  <button [ngClass]="darkMode ? 'bg-light' : 'bg-dark text-light'">
    <span *ngIf="!loadingMore" class="load-more">{{
      "PUBLIC-LAW.LOAD-MORE" | translate
    }}</span>
    <div *ngIf="loadingMore" class="spinner"></div>
  </button>
</div>
