<div
  class="section-column"
  style="margin-top: 30px; width: 100%; align-items: center"
>
  <div class="d-flex flex-column align-items-center text-center w-100">
    <div class="w-75 d-flex flex-column mb-1">
      <span class="fw-bold align-self-start">{{
        page.name
      }}</span>
      <span class="align-self-start">{{
        page.description
      }}</span>
    </div>
    <div
      class="my-3 d-flex gap-2 flex-column flex-sm-row justify-content-end justify-content-sm-center align-items-end align-items-sm-center w-75"
    >
      <div class="w-100">
        <input
          type="text"
          name="user"
          [(ngModel)]="searchTerm"
          placeholder="{{ 'STATS.SEARCH-PLACEHOLDER' | translate }}"
          class="form-control w-100"
          [ngClass]="
            darkMode
              ? 'bg-dark border-white text-white placeholder-white'
              : 'border-dark placeholder-dark'
          "
        />
      </div>
      <button
        class="btn bg-transparent border d-flex align-items-center justify-content-center"
        style="width: 112px; height: 38px"
        [ngClass]="darkMode ? 'border-white text-white' : 'border-dark'"
        (click)="openModal()"
      >
        <img
          [ngClass]="{ 'dark-mode-filter': darkMode }"
          src="filter-slider.png"
          class="me-1"
          style="height: 20px"
        />
        {{ "FILTER.FILTERS" | translate }}
      </button>
    </div>
  </div>

  <div class="section-row" style="gap: 10px; width: 70%">
    <div *ngIf="selectedProviderFields() != ''">
      &#11166;{{ selectedProviderFields() }}
    </div>
    <div
      *ngIf="
        filters.category != '' || filters.type != '' || filters.details != ''
      "
    >
      &#11166;
      <span *ngIf="filters.category != ''">{{ filters.category }}</span>
      <span
        *ngIf="
          filters.category != '' &&
          (filters.type != '' || filters.details != '')
        "
        >,&nbsp;</span
      >
      <span *ngIf="filters.type != ''">{{ filters.type }}</span>
      <span *ngIf="filters.type != '' && filters.details != ''">,&nbsp;</span>
      <span *ngIf="filters.details != ''">{{ filters.details }}</span>
    </div>
    <div
      *ngIf="filters.city != '' || filters.state != '' || filters.country != ''"
    >
      &#11166;
      <span *ngIf="filters.city != ''">{{ filters.city }}</span>
      <span
        *ngIf="
          filters.city != '' && (filters.state != '' || filters.country != '')
        "
        >,&nbsp;</span
      >
      <span *ngIf="filters.state != ''">{{ filters.state }}</span>
      <span *ngIf="filters.state != '' && filters.country != ''">,&nbsp;</span>
      <span *ngIf="filters.country != ''">{{ filters.country }}</span>
    </div>
    <div *ngIf="filters.costFrom != '' || filters.costTo != ''">
      &#11166;
      <span *ngIf="filters.costFrom != '' && filters.costTo == ''"
        >{{ "FILTER.FROM" | translate }}&nbsp;</span
      >
      <span *ngIf="filters.costFrom != ''">${{ filters.costFrom }}</span>
      <span *ngIf="filters.costFrom != '' && filters.costTo != ''"
        >&nbsp;-&nbsp;</span
      >
      <span *ngIf="filters.costFrom == '' && filters.costTo != ''"
        >{{ "FILTER.TO" | translate }}&nbsp;</span
      >
      <span *ngIf="filters.costTo != ''">${{ filters.costTo }}</span>
    </div>
    <div *ngIf="filters.daysFrom != '' || filters.daysTo != ''">
      &#11166;
      <span *ngIf="filters.daysFrom != '' && filters.daysTo == ''"
        >{{ "FILTER.FROM" | translate }}&nbsp;</span
      >
      <span *ngIf="filters.daysFrom != ''"
        >{{ filters.daysFrom }} {{ "FILTER.DAYS" | translate }}</span
      >
      <span *ngIf="filters.daysFrom != '' && filters.daysTo != ''"
        >&nbsp;-&nbsp;</span
      >
      <span *ngIf="filters.daysFrom == '' && filters.daysTo != ''"
        >{{ "FILTER.TO" | translate }}&nbsp;</span
      >
      <span *ngIf="filters.daysTo != ''"
        >{{ filters.daysTo }} {{ "FILTER.DAYS" | translate }}</span
      >
    </div>
  </div>
  <div
    class="filters-modal"
    [ngClass]="darkMode ? 'bg-dark' : 'bg-light'"
    *ngIf="isModalOpen"
  >
    <div class="filters-header">
      <h2>{{ "FILTER.FILTERS" | translate }}</h2>
      <button
        [ngClass]="darkMode ? 'text-light' : 'text-dark'"
        class="close-button"
        (click)="closeModal()"
      >
        &#x2715;
      </button>
    </div>
    <div class="filters-body">
      <div class="filter-section">
        <h3>{{ "FILTER.PROVIDER-FIELDS" | translate }}</h3>
        <div class="checkbox-group">
          <label *ngFor="let option of providerFields">
            <input
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              type="checkbox"
              [(ngModel)]="option.selected"
              (change)="onProviderFieldChange(option)"
            />
            {{ option.label }}
          </label>
        </div>
      </div>

      <div class="filter-section">
        <div class="dropdown-row">
          <div class="dropdown-group">
            <label>{{ "FILTER.CATEGORY" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.category"
            >
              <option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </option>
            </select>
          </div>

          <div class="dropdown-group">
            <label>{{ "FILTER.TYPE" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.type"
            >
              <option *ngFor="let type of types" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>

          <div class="dropdown-group">
            <label>{{ "FILTER.DETAILS" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.details"
            >
              <option *ngFor="let detail of details" [value]="detail">
                {{ detail }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="filter-section">
        <div class="search-row">
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="text"
            placeholder="{{ 'FILTER.LOCATION-SEARCH-PLACEHOLDER' | translate }}"
            [(ngModel)]="filters.searchQuery"
          />
          <button class="search-button">&#x26B2;</button>
        </div>
      </div>

      <div class="filter-section">
        <div class="dropdown-row">
          <div class="dropdown-group">
            <label>{{ "FILTER.CITY" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.city"
            >
              <option *ngFor="let city of cities" [value]="city">
                {{ city }}
              </option>
            </select>
          </div>

          <div class="dropdown-group">
            <label>{{ "FILTER.STATE" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.state"
            >
              <option *ngFor="let state of states" [value]="state">
                {{ state }}
              </option>
            </select>
          </div>

          <div class="dropdown-group">
            <label>{{ "FILTER.COUNTRY" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.country"
            >
              <option *ngFor="let country of countries" [value]="country">
                {{ country }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="filter-section">
        <div class="cost-days-row">
          <Label>{{ "FILTER.COST-FROM" | translate }}</Label>
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="number"
            placeholder="{{ 'FILTER.MINIMUM-COST' | translate }}"
            [(ngModel)]="filters.costFrom"
          />
          <Label>{{ "FILTER.COST-TO" | translate }}</Label>
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="number"
            placeholder="{{ 'FILTER.MAXIMUM-COST' | translate }}"
            [(ngModel)]="filters.costTo"
          />
        </div>
        <div class="cost-days-row" style="margin-top: 20px">
          <Label>{{ "FILTER.DAYS-FROM" | translate }}</Label>
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="number"
            placeholder="{{ 'FILTER.MINIMUM-DAYS' | translate }}"
            [(ngModel)]="filters.daysFrom"
          />
          <Label>{{ "FILTER.DAYS-TO" | translate }}</Label>
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="number"
            placeholder="{{ 'FILTER.MAXIMUM-DAYS' | translate }}"
            [(ngModel)]="filters.daysTo"
          />
        </div>
      </div>
    </div>

    <div class="filters-footer">
      <button class="clear-button" (click)="clearFilters()">
        {{ "FILTER.CLEAR-ALL" | translate }}
      </button>
      <button class="results-button" (click)="submitFilters()">
        {{ totalResults }} {{ "FILTER.RESULTS" | translate }}
      </button>
    </div>
  </div>

  <div class="gray-line" style="height: 1px"></div>
  <div class="section-row" style="align-items: start; width: 70%">
    <div class="sidebar">
      <ul>
        @for (sideTab of sortPageBySidetabsOrder(page.sideTabs) ; track $index)
        {
        <li
          [class.active]="selectedTab === sideTab.title"
          [class.active-dark]="selectedTab === sideTab.title && !darkMode"
          (click)="selectTab(sideTab.title)"
        >
          {{ sideTab.title }}
        </li>
        }
      </ul>
    </div>
    <div class="section-column">
      <div class="content">
        @for (sideTab of sortPageBySidetabsOrder(page.sideTabs); track $index) {
        <div *ngIf="selectedTab === sideTab.title">
          <h3>{{ sideTab.title }}</h3>
          <p>
            {{ sideTab.content }}
          </p>
        </div>
        }
      </div>
      <div class="main-table-container">
        <table>
          <thead>
            <tr>
              <th *ngFor="let header of tableHeaders">
                <span style="font-weight: 700"> {{ header.label }}</span>
                <span class="header-count">{{ header.count }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of tableData">
              <tr *ngIf="row.length > 0">
                <ng-container *ngFor="let cell of row">
                  <td [attr.colspan]="cell.colspan ? cell.colspan : null">
                    <div *ngIf="cell.label">
                      {{ cell.label }}<br />
                      <span class="cell-value">{{ cell.value }}</span>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="footer-row">
                <strong>{{ "STATS.TABLE-TOTAL" | translate }}</strong
                ><br />
                <span class="footer-value"
                  >{{ totalProjects }}
                  {{ "STATS.TABLE-PROJECTS" | translate }}</span
                >
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  style="
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 20%;
  "
>
  <button
    style="border: 0; height: 50px; width: 200px"
    [ngClass]="darkMode ? 'bg-light my-3' : 'bg-dark text-light my-3'"
  >
    <span *ngIf="!loadingMore" class="load-more">{{
      "STATS.LOAD-MORE" | translate
    }}</span>
    <div
      *ngIf="loadingMore"
      class="spinner"
      style="height: 20px; width: 20px; justify-self: center"
    ></div>
  </button>
</div>
