<div *ngIf="loading$ | async" class="loader">
  <div *ngIf="userAgree" class="spinner"></div>
</div>
<div *ngIf="isModalOpen" class="start-app-overlay"></div>
<div
  class="start-app-popup"
  [ngClass]="darkMode ? 'bg-dark' : 'bg-light'"
  *ngIf="isModalOpen"
>
  <div class="start-app-popup-header">
    <h2>Warning</h2>
  </div>
  <div class="start-app-popup-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iste
      voluptas praesentium beatae? Quas veniam recusandae, laborum voluptatem
      adipisci distinctio sequi, deserunt temporibus quibusdam quis dignissimos
      inventore minima totam quo fugit porro aliquam fugiat, aliquid similique.
      Nostrum in voluptatem quasi praesentium labore fugit expedita voluptas ut
      incidunt eius. Inventore aperiam porro praesentium minima omnis a eligendi
      accusamus at aliquam? Ratione aspernatur perspiciatis similique voluptatem
      sunt at quia alias facere deleniti, dicta tenetur, possimus voluptates
      atque sint. Laborum perspiciatis molestias earum corrupti impedit, nulla,
      in consectetur laudantium quibusdam illum fugiat provident! Illo odit
      architecto temporibus doloribus porro alias corrupti labore sapiente
      doloremque, cupiditate, dolore libero, nihil placeat. Eaque nulla dolores,
      corrupti ipsum cumque ipsa quis dolore qui esse blanditiis soluta nemo
    </p>
  </div>
  <div class="start-app-popup-footer">
    <button
      class="border-1 border-bottom"
      [ngClass]="
        darkMode ? 'text-light border-white' : 'text-dark border-black'
      "
      (click)="closeModal()"
    >
      Agree
    </button>
    <button
      class="border-1 border-bottom"
      [ngClass]="
        darkMode ? 'text-light border-white' : 'text-dark border-black'
      "
      (click)="isUserDisagree()"
    >
      Disagree
    </button>
  </div>
</div>

<ng-container *ngIf="userAgree">
  <router-outlet></router-outlet>
</ng-container>

<div *ngIf="!userAgree">
  <app-thanks></app-thanks>
</div>
