<div
  class="section-column"
  style="margin-top: 30px; width: 100%; align-items: center"
>
  <div class="d-flex flex-column align-items-center text-center w-100">
    <div class="w-75 d-flex flex-column mb-1">
      <span class="fw-bold align-self-start">{{
        "TALK.TALK" | translate
      }}</span>
      <span class="align-self-start">{{
        "TALK.TALK-DESCRIPTION" | translate
      }}</span>
    </div>
    <div
      class="my-3 d-flex gap-2 flex-column flex-sm-row justify-content-end justify-content-sm-center align-items-end align-items-sm-center w-75"
    >
      <div class="w-100">
        <input
          type="text"
          name="user"
          [(ngModel)]="searchTerm"
          placeholder="{{ 'TALK.SEARCH-PLACEHOLDER' | translate }}"
          class="form-control w-100"
          [ngClass]="
            darkMode
              ? 'bg-dark border-white text-white placeholder-white'
              : 'border-dark placeholder-dark'
          "
        />
      </div>
      <button
        class="btn bg-transparent border d-flex align-items-center justify-content-center"
        style="width: 112px; height: 38px"
        [ngClass]="darkMode ? 'border-white text-white' : 'border-dark'"
        (click)="openModal()"
      >
        <img
          [ngClass]="{ 'dark-mode-filter': darkMode }"
          src="filter-slider.png"
          class="me-1"
          style="height: 20px"
        />
        {{ "FILTER.FILTERS" | translate }}
      </button>
    </div>
  </div>
  <div
    class="section-row"
    style="align-items: center; justify-content: center; gap: 10px; width: 70%"
  >
    <div *ngIf="selectedProviderFields() != ''">
      &#11166;{{ selectedProviderFields() }}
    </div>
    <div
      *ngIf="
        filters.category != '' || filters.type != '' || filters.details != ''
      "
    >
      &#11166;
      <span *ngIf="filters.category != ''">{{ filters.category }}</span>
      <span
        *ngIf="
          filters.category != '' &&
          (filters.type != '' || filters.details != '')
        "
        >,&nbsp;</span
      >
      <span *ngIf="filters.type != ''">{{ filters.type }}</span>
      <span *ngIf="filters.type != '' && filters.details != ''">,&nbsp;</span>
      <span *ngIf="filters.details != ''">{{ filters.details }}</span>
    </div>
    <div
      *ngIf="filters.city != '' || filters.state != '' || filters.country != ''"
    >
      &#11166;
      <span *ngIf="filters.city != ''">{{ filters.city }}</span>
      <span
        *ngIf="
          filters.city != '' && (filters.state != '' || filters.country != '')
        "
        >,&nbsp;</span
      >
      <span *ngIf="filters.state != ''">{{ filters.state }}</span>
      <span *ngIf="filters.state != '' && filters.country != ''">,&nbsp;</span>
      <span *ngIf="filters.country != ''">{{ filters.country }}</span>
    </div>
    <div *ngIf="filters.costFrom != '' || filters.costTo != ''">
      &#11166;
      <span *ngIf="filters.costFrom != '' && filters.costTo == ''"
        >{{ "FILTER.FROM" | translate }}&nbsp;</span
      >
      <span *ngIf="filters.costFrom != ''">${{ filters.costFrom }}</span>
      <span *ngIf="filters.costFrom != '' && filters.costTo != ''"
        >&nbsp;-&nbsp;</span
      >
      <span *ngIf="filters.costFrom == '' && filters.costTo != ''"
        >{{ "FILTER.TO" | translate }}&nbsp;</span
      >
      <span *ngIf="filters.costTo != ''">${{ filters.costTo }}</span>
    </div>
    <div *ngIf="filters.daysFrom != '' || filters.daysTo != ''">
      &#11166;
      <span *ngIf="filters.daysFrom != '' && filters.daysTo == ''"
        >{{ "FILTER.FROM" | translate }}&nbsp;</span
      >
      <span *ngIf="filters.daysFrom != ''"
        >{{ filters.daysFrom }} {{ "FILTER.DAYS" | translate }}</span
      >
      <span *ngIf="filters.daysFrom != '' && filters.daysTo != ''"
        >&nbsp;-&nbsp;</span
      >
      <span *ngIf="filters.daysFrom == '' && filters.daysTo != ''"
        >{{ "FILTER.TO" | translate }}&nbsp;</span
      >
      <span *ngIf="filters.daysTo != ''"
        >{{ filters.daysTo }} {{ "FILTER.DAYS" | translate }}</span
      >
    </div>
  </div>

  <div
    class="filters-modal"
    [ngClass]="darkMode ? 'bg-dark' : 'bg-light'"
    *ngIf="isModalOpen"
  >
    <div class="filters-header">
      <h2>{{ "FILTER.FILTERS" | translate }}</h2>
      <button
        [ngClass]="darkMode ? 'text-light' : 'text-dark'"
        class="close-button"
        (click)="closeModal()"
      >
        &#x2715;
      </button>
    </div>
    <div class="filters-body">
      <div class="filter-section">
        <h3>{{ "FILTER.PROVIDER-FIELDS" | translate }}</h3>
        <div class="checkbox-group">
          <label *ngFor="let option of providerFields">
            <input
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              type="checkbox"
              [(ngModel)]="option.selected"
              (change)="onProviderFieldChange(option)"
            />
            {{ option.label }}
          </label>
        </div>
      </div>

      <div class="filter-section">
        <div class="dropdown-row">
          <div class="dropdown-group">
            <label>{{ "FILTER.CATEGORY" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.category"
            >
              <option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </option>
            </select>
          </div>

          <div class="dropdown-group">
            <label>{{ "FILTER.TYPE" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.type"
            >
              <option *ngFor="let type of types" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>

          <div class="dropdown-group">
            <label>{{ "FILTER.DETAILS" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.details"
            >
              <option *ngFor="let detail of details" [value]="detail">
                {{ detail }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="filter-section">
        <div class="search-row">
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="text"
            placeholder="{{ 'FILTER.LOCATION-SEARCH-PLACEHOLDER' | translate }}"
            [(ngModel)]="filters.searchQuery"
          />
          <button class="search-button">&#x26B2;</button>
        </div>
      </div>

      <div class="filter-section">
        <div class="dropdown-row">
          <div class="dropdown-group">
            <label>{{ "FILTER.CITY" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.city"
            >
              <option *ngFor="let city of cities" [value]="city">
                {{ city }}
              </option>
            </select>
          </div>

          <div class="dropdown-group">
            <label>{{ "FILTER.STATE" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.state"
            >
              <option *ngFor="let state of states" [value]="state">
                {{ state }}
              </option>
            </select>
          </div>

          <div class="dropdown-group">
            <label>{{ "FILTER.COUNTRY" | translate }}</label>
            <select
              [ngClass]="
                darkMode
                  ? 'bg-dark border-white text-white placeholder-white'
                  : 'border-dark placeholder-dark'
              "
              [(ngModel)]="filters.country"
            >
              <option *ngFor="let country of countries" [value]="country">
                {{ country }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="filter-section">
        <div class="cost-days-row">
          <Label>{{ "FILTER.COST-FROM" | translate }}</Label>
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="number"
            placeholder="{{ 'FILTER.MINIMUM-COST' | translate }}"
            [(ngModel)]="filters.costFrom"
          />
          <Label>{{ "FILTER.COST-TO" | translate }}</Label>
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="number"
            placeholder="{{ 'FILTER.MAXIMUM-COST' | translate }}"
            [(ngModel)]="filters.costTo"
          />
        </div>
        <div class="cost-days-row" style="margin-top: 20px">
          <Label>{{ "FILTER.DAYS-FROM" | translate }}</Label>
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="number"
            placeholder="{{ 'FILTER.MINIMUM-DAYS' | translate }}"
            [(ngModel)]="filters.daysFrom"
          />
          <Label>{{ "FILTER.DAYS-TO" | translate }}</Label>
          <input
            [ngClass]="
              darkMode
                ? 'bg-dark border-white text-white placeholder-white'
                : 'border-dark placeholder-dark'
            "
            type="number"
            placeholder="{{ 'FILTER.MAXIMUM-DAYS' | translate }}"
            [(ngModel)]="filters.daysTo"
          />
        </div>
      </div>
    </div>

    <div class="filters-footer">
      <button
        class="btn"
        [ngClass]="darkMode ? 'border-white text-light' : 'border-dark'"
        (click)="clearFilters()"
      >
        {{ "FILTER.CLEAR-ALL" | translate }}
      </button>
      <button
        class="btn"
        [ngClass]="darkMode ? 'border-white text-light' : 'border-dark'"
        (click)="submitFilters()"
      >
        {{ totalResults }} {{ "FILTER.RESULTS" | translate }}
      </button>
    </div>
  </div>

  <div class="gray-line"></div>

  <div
    *ngFor="let content of allContent"
    [style.border]="
      darkMode ? '3px solid var(--fore-color)' : '1px solid var(--back-color)'
    "
    class="section-column"
    style="
      justify-content: start;
      height: 500px;
      width: 500px;
      border: 3px solid var(--fore-color);
      margin-bottom: 40px;
    "
  >
    <div
      class="section-row"
      style="justify-content: space-between; align-items: center; height: auto"
    >
      <div class="profile-header">
        <img
          src="{{ content.profileImg }}"
          alt="Profile Picture"
          class="profile-picture"
        />
        <div class="profile-info">
          <h3>{{ content.name }}</h3>
          <p class="status">{{ content.status }}</p>
        </div>
      </div>
      <div style="padding-right: 30px">&#9587;</div>
    </div>
    <div class="gray-line"></div>
    <div style="padding-left: 20px; margin-bottom: 10px">
      {{ content.description }}
    </div>
    <div
      style="position: relative; height: 100%; width: 100%; overflow: hidden"
    >
      <img
        src="{{ content.mainImg }}"
        alt="Main Picture"
        style="position: absolute; left: 1%; width: 98%; height: 100%"
      />
      <div
        class="section-row"
        style="
          position: absolute;
          height: 30px;
          z-index: 500;
          top: 10px;
          left: 10px;
          justify-content: space-between;
          width: 95%;
          background-color: transparent;
        "
      >
        <button
          class="clickable"
          style="border: 0"
          (click)="openEPage(content.id)"
        >
          {{ "TALK.E-PAGE" | translate }}
        </button>
        <div
          class="section-column"
          style="position: relative; background-color: transparent; gap: 10px"
        >
          <img
            class="clickable"
            src="button-thumbs-up.png"
            alt="like"
            style="height: 30px"
          />
          <img
            class="clickable"
            src="button-thumbs-down.png"
            alt="dislike"
            style="height: 30px"
          />
          <img
            class="clickable"
            src="button-share.png"
            alt="share"
            style="height: 30px"
          />
        </div>
      </div>
    </div>
    <div
      class="section-row"
      style="
        position: static;
        font-size: small;
        height: 90px;
        justify-content: space-around;
        align-items: end;
        margin-left: 10px;
        margin-right: 10px;
      "
    >
      <div>{{ "TALK.QUESTIONS" | translate }} {{ content.questions }}</div>
      <div>{{ "TALK.POSITIVE" | translate }} {{ content.positive }}</div>
      <div>{{ "TALK.NEGATIVE" | translate }} {{ content.negative }}</div>
      <div>{{ "TALK.NEUTRAL" | translate }} {{ content.neutral }}</div>
    </div>
    <div class="gray-line"></div>

    <div
      style="
        display: flex;
        align-items: center;
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 3%;
        justify-self: center;
      "
    >
      <span style="font-weight: bold"> {{ "TALK.COMMENTS" | translate }}</span>
      <img
        src="comment-bubble.png"
        alt="Comment Icon"
        style="width: 16px; height: 16px; margin-left: 1px; margin-bottom: 20px"
      />
    </div>
  </div>

  <button
    style="border: 0; height: 50px; width: 200px"
    [ngClass]="darkMode ? 'bg-light my-3' : 'bg-dark text-light my-3'"
  >
    <span *ngIf="!loadingMore" class="load-more">{{
      "TALK.LOAD-MORE" | translate
    }}</span>
    <div
      *ngIf="loadingMore"
      class="spinner"
      style="height: 20px; width: 20px; justify-self: center"
    ></div>
  </button>
</div>
