<div class="login-container">
  <h1>Welcome</h1>

  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <div class="login-form-control">
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        name="email"
        #email="ngModel"
        ngModel
        class="form-control"
        placeholder="{{ 'LOGIN.USER-FIELD' | translate }}"
        required
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
      />
      <div *ngIf="email.touched && email.invalid" class="my-2">
        <small class="text-danger" *ngIf="email.control.errors?.['required']">
          {{ "LOGIN.EMAIL-REQUIRED" | translate }}
        </small>
        <small class="text-danger" *ngIf="email.control.errors?.['pattern']">
          {{ "LOGIN.EMAIL-PATTERN" | translate }}
        </small>
      </div>
    </div>
    <div class="login-form-control">
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        name="password"
        #password="ngModel"
        ngModel
        class="form-control"
        placeholder="{{ 'LOGIN.PASSWORD-FIELD' | translate }}"
        required
        type="password"
      />
      <div *ngIf="password.touched && password.invalid" class="my-2">
        <small
          class="text-danger"
          *ngIf="password.control.errors?.['required']"
        >
          {{ "LOGIN.PASSWORD-REQUIRED" | translate }}
        </small>
      </div>
    </div>

    <div class="checkbox-control">
      <input
        type="checkbox"
        name="remember"
        [(ngModel)]="remember"
        id="rememberMe"
      />
      <label for="rememberMe">{{ "LOGIN.REMEMBER-BOX" | translate }}</label>
    </div>

    <button
    [disabled]="loginForm.invalid"
      [ngClass]="{ 'bg-dark': !darkMode }"
      type="submit"
      class="login-button"
    >
      <span>{{ "LOGIN.LOGIN-BUTTON" | translate }}</span>
    </button>
  </form>

  <div class="helper-links">
    <a [ngClass]="darkMode ? 'text-light' : 'text-dark'" href="#">{{
      "LOGIN.LOGIN-TROUBLE" | translate
    }}</a>
    <a
      [ngClass]="darkMode ? 'text-light' : 'text-dark'"
      routerLink="/register"
      >{{ "LOGIN.CREATE-ACCOUNT-BUTTON" | translate }}</a
    >
  </div>
</div>
