@if (faqId === '') {
<div class="login-container">
  <h1 class="p-3">Add FAQs</h1>

  <form class="" #addFaqForm="ngForm" (ngSubmit)="addFaq(addFaqForm)">
    <div class="login-form-control">
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        name="question"
        #question="ngModel"
        ngModel
        class="form-control"
        placeholder="Question Here !"
        required
      />
      <div *ngIf="question.touched && question.invalid" class="my-2">
        <small
          class="text-danger"
          *ngIf="question.control.errors?.['required']"
        >
          this field is required
        </small>
        <small class="text-danger" *ngIf="question.control.errors?.['pattern']">
        </small>
      </div>
    </div>
    <div class="login-form-control my-2">
      <textarea
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        name="answer"
        #answer="ngModel"
        ngModel
        class="form-control"
        placeholder="Answer here !"
        required
        style="height: 300px"
      ></textarea>
      <div *ngIf="answer.touched && answer.invalid" class="my-2">
        <small class="text-danger" *ngIf="answer.control.errors?.['required']">
          this field is required
        </small>
      </div>
    </div>
    <div class="login-form-control">
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="number"
        name="order"
        #order="ngModel"
        ngModel
        class="form-control"
        min="0"
        required
      />
      <div *ngIf="order.touched && order.invalid" class="my-2">
        <small class="text-danger" *ngIf="order.control.errors?.['required']">
          this field is required
        </small>
        <small class="text-danger" *ngIf="order.control.errors?.['pattern']">
        </small>
      </div>
    </div>

    <button
      [disabled]="addFaqForm.invalid"
      [ngClass]="{ 'bg-dark': !darkMode }"
      type="submit"
      class="btn btn-light my-2"
    >
      <span>Add Faqs</span>
    </button>
  </form>
</div>
}@else {
<div class="login-container">
  <h1 class="p-3">Update FAQ</h1>

  <form class="" #updateFaqForm="ngForm" (ngSubmit)="updateFaq(updateFaqForm)">
    <div class="login-form-control">
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        name="question"
        #question="ngModel"
        [(ngModel)]="faq.question"
        class="form-control"
        placeholder="Question Here !"
        required
      />
      <div *ngIf="question.touched && question.invalid" class="my-2">
        <small
          class="text-danger"
          *ngIf="question.control.errors?.['required']"
        >
          this field is required
        </small>
        <small class="text-danger" *ngIf="question.control.errors?.['pattern']">
        </small>
      </div>
    </div>
    <div class="login-form-control my-2">
      <textarea
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="text"
        name="answer"
        #answer="ngModel"
        [(ngModel)]="faq.answer"
        class="form-control"
        placeholder="Answer here !"
        required
        style="height: 300px"
      ></textarea>
      <div *ngIf="answer.touched && answer.invalid" class="my-2">
        <small class="text-danger" *ngIf="answer.control.errors?.['required']">
          this field is required
        </small>
      </div>
    </div>
    <div class="login-form-control">
      <input
        [ngClass]="
          darkMode
            ? 'bg-dark border-white text-white placeholder-white'
            : 'border-dark placeholder-dark'
        "
        type="number"
        name="order"
        #order="ngModel"
        [(ngModel)]="faq.order"
        class="form-control"
        min="0"
        required
      />
      <div *ngIf="order.touched && order.invalid" class="my-2">
        <small class="text-danger" *ngIf="order.control.errors?.['required']">
          this field is required
        </small>
        <small class="text-danger" *ngIf="order.control.errors?.['pattern']">
        </small>
      </div>
    </div>

    <button
      [disabled]="updateFaqForm.invalid"
      [ngClass]="{ 'bg-dark': !darkMode }"
      type="submit"
      class="btn btn-light my-2"
    >
      <span>Update Faqs</span>
    </button>
  </form>
</div>
}
