<div class="container">
  <div class="my-5">
    <h4 class="text-center m-0">Careers</h4>
    <p class="text-center my-3 break-word">
      Join our IT team by applying below.
    </p>
  </div>
  <div class="mt-5">
    <div>
      <div class="jobCategory">
        <input type="radio" id="teamLeader" name="job" />
        <label class="mx-2" for="teamLeader">Team Leader</label>
      </div>
      <div class="jobCategory">
        <input type="radio" id="frontEnd" name="job" />
        <label class="mx-2" for="frontEnd">Front End</label>
      </div>
      <div class="jobCategory">
        <input type="radio" id="backEnd" name="job" />
        <label class="mx-2" for="backEnd">Back End</label>
      </div>
    </div>

    <div class="mt-5">
      <h6>Preferred Job Time *</h6>
      <div>
        <div class="time">
          <input
            type="radio"
            id="fullTime"
            name="time"
            (change)="preferredJobType = 1"
          />
          <label class="mx-2" for="fullTime">Full Time</label>
        </div>
        <div class="time">
          <input
            type="radio"
            id="partTime"
            name="time"
            (change)="preferredJobType = 2"
          />
          <label class="mx-2" for="partTime">Part Time</label>
        </div>
        <div class="time">
          <input
            type="radio"
            id="onCall"
            name="time"
            (change)="preferredJobType = 3"
          />
          <label class="mx-2" for="onCall">On Call</label>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="contrast-line my-3" [ngClass]="darkMode ? 'bg-light' : 'bg-dark'" />

<div class="d-flex flex-column justify-content-center gap-2 align-items-center">
  <input
    [(ngModel)]="firstName"
    type="text"
    name="firstName"
    id="firstName"
    class="w-50"
    placeholder="First Name"
    [ngClass]="
      darkMode
        ? 'bg-dark border-white text-white placeholder-white'
        : 'border-dark placeholder-dark'
    "
  />
  <input
    [(ngModel)]="lastName"
    type="text"
    name="lastName"
    id="lastName"
    class="w-50"
    placeholder="Last Name"
    [ngClass]="
      darkMode
        ? 'bg-dark border-white text-white placeholder-white'
        : 'border-dark placeholder-dark'
    "
  />
  <input
    [(ngModel)]="email"
    type="email"
    name="email"
    id="email"
    class="w-50"
    placeholder="Email"
    [ngClass]="
      darkMode
        ? 'bg-dark border-white text-white placeholder-white'
        : 'border-dark placeholder-dark'
    "
  />
  <input
    [(ngModel)]="phoneNumber"
    type="text"
    name="phoneNumber"
    id="phoneNumber"
    class="w-50"
    placeholder="Phone Number"
    [ngClass]="
      darkMode
        ? 'bg-dark border-white text-white placeholder-white'
        : 'border-dark placeholder-dark'
    "
  />
</div>

<hr class="contrast-line my-3" [ngClass]="darkMode ? 'bg-light' : 'bg-dark'" />

<div class="w-50 m-auto border border-1 p-1 my-3">
  <input
    type="file"
    id="resumeInput"
    (change)="onResumeSelected($event)"
    multiple
    hidden
  />
  <button
    type="button"
    (click)="triggerResumeInput()"
    class="border-0 bg-transparent d-flex justify-content-center align-items-center"
  >
    <i class="bi bi-file-earmark-arrow-up fs-2"></i>
    <label class="mx-3 cursor-pointer">Upload Resume(s)</label>
  </button>
  <ul class="mt-3">
    <li *ngFor="let file of resumeFiles">
      {{ file.name }} ({{ file.size / 1000 | number : "1.0-2" }} KB)
    </li>
  </ul>
</div>
<div class="w-50 m-auto border border-1 p-1 my-3">
  <input type="file" id="imgInput" (change)="onImageSelected($event)" hidden />
  <button
    type="button"
    (click)="triggerImageInput()"
    class="border-0 bg-transparent d-flex justify-content-center align-items-center"
  >
    <i class="bi bi-person-circle fs-2"></i>
    <label class="mx-3 cursor-pointer">Upload Personal Image</label>
  </button>
  <p class="mt-2" *ngIf="personaLImg">
    {{ personaLImg.name }} ({{ personaLImg.size / 1000 | number : "1.0-2" }} KB)
  </p>
</div>
<button
  style="
    border: 0;
    width: 200px;
    border-radius: 20px;
    padding: 10px 0;
    margin: auto;
    display: block;
  "
  [ngClass]="darkMode ? 'bg-light text-dark my-3' : 'bg-dark text-light my-3'"
  type="button"
  (click)="submitApplication()"
>
  Join IT - Team
</button>
